# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# VSCode
.vscode/

# JetBrains
.idea/

# Pytest
.pytest_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Playwright
playwright-report/
test-results/

# Downloads temporales
downloads/
temp/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# Docker
*.tar

# Git
.git/

# SQLite
*.sqlite3

# Compiled
*.so

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Node (si luego usas frontend)
node_modules/